<%- include ../admin/admin_head.ejs %>
<%- include ../admin/sidebar.ejs %>
<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-9 main-chart">
                <div class="row mtbox">
                    <div class="col-md-3 col-sm-3 box0">
                        <div class="box1">
                            <span><i class="fa fa-group" aria-hidden="true"></i></span>
                            <h4 style="font-size:16px">TOTAL PROFILES</h4>
                            <h3>2500</h3>
                        </div>
                        <p>Click to see all profiles</p>
                    </div>
                    <div class="col-md-3 col-sm-3 box0">
                        <div class="box1">
                            <span><i class="fa fa-check" aria-hidden="true"></i></span>
                            <h4 style="font-size:16px">ACTIVE PROILES</h4>
                            <h3>2150</h3>
                        </div>
                        <p>click to see active profiles</p>
                    </div>
                    <div class="col-md-3 col-sm-3 box0">
                        <div class="box1">
                            <span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            </span>
                            <h4 style="font-size:16px">PENDING PROFILES</h4>
                            <h3>50</h3>
                        </div>
                        <p>click to see pending profiles</p>
                    </div>
                    <div class="col-md-3 col-sm-3 box0">
                        <div class="box1">
                            <span><i class="fa fa-ban" aria-hidden="true"></i></span>
                            <h4 style="font-size:16px">INACTIVE PROFILES</h4>
                            <h3>350</h3>
                        </div>
                        <p>click to see inactive profiles</p>
                    </div>
                </div>

            </div><!-- /col-lg-9 END SECTION MIDDLE -->


            <!-- **********************************************************************************************************************************************************
            RIGHT SIDEBAR CONTENT
            *********************************************************************************************************************************************************** -->                  

            <div class="col-lg-3 ds">
                <!--COMPLETED ACTIONS DONUTS CHART-->
                <h3>NOTIFICATIONS</h3>

                <!-- First Action -->
                <div class="desc">
                    <div class="thumb">
                        <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                    </div>
                    <div class="details">
                        <p><muted>2 Minutes Ago</muted><br/>
                        <a href="#">James Brown</a> subscribed to your newsletter.<br/>
                        </p>
                    </div>
                </div>
                <!-- Second Action -->
                <div class="desc">
                    <div class="thumb">
                        <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                    </div>
                    <div class="details">
                        <p><muted>3 Hours Ago</muted><br/>
                        <a href="#">Diana Kennedy</a> purchased a year subscription.<br/>
                        </p>
                    </div>
                </div>
                <!-- Third Action -->
                <div class="desc">
                    <div class="thumb">
                        <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                    </div>
                    <div class="details">
                        <p><muted>7 Hours Ago</muted><br/>
                        <a href="#">Brandon Page</a> purchased a year subscription.<br/>
                        </p>
                    </div>
                </div>
                <!-- Fourth Action -->
                <div class="desc">
                    <div class="thumb">
                        <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                    </div>
                    <div class="details">
                        <p><muted>11 Hours Ago</muted><br/>
                        <a href="#">Mark Twain</a> commented your post.<br/>
                        </p>
                    </div>
                </div>
                <!-- Fifth Action -->
                <div class="desc">
                    <div class="thumb">
                        <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                    </div>
                    <div class="details">
                        <p><muted>18 Hours Ago</muted><br/>
                        <a href="#">Daniel Pratt</a> purchased a wallet in your store.<br/>
                        </p>
                    </div>
                </div>

                <!-- USERS ONLINE SECTION -->
                <h3>DONORS</h3>
                <!-- First Member -->
                <div class="desc">
                    <div class="thumb">
                        <img class="img-circle" src="../../index_files/stdash/img/ui-divya.jpg" width="35px" height="35px" align="">
                    </div>
                    <div class="details">
                        <p><a href="#">DIVYA MANIAN</a><br/>
                        <muted>Available</muted>
                        </p>
                    </div>
                </div>
                <!-- Second Member -->
                <div class="desc">
                    <div class="thumb">
                        <img class="img-circle" src="../../index_files/stdash/img/ui-sherman.jpg" width="35px" height="35px" align="">
                    </div>
                    <div class="details">
                        <p><a href="#">DJ SHERMAN</a><br/>
                        <muted>I am Busy</muted>
                        </p>
                    </div>
                </div>
                <!-- Third Member -->
                <div class="desc">
                    <div class="thumb">
                        <img class="img-circle" src="../../index_files/stdash/img/ui-danro.jpg" width="35px" height="35px" align="">
                    </div>
                    <div class="details">
                        <p><a href="#">DAN ROGERS</a><br/>
                        <muted>Available</muted>
                        </p>
                    </div>
                </div>
                <!-- Fourth Member -->
                <div class="desc">
                    <div class="thumb">
                        <img class="img-circle" src="../../index_files/stdash/img/ui-zac.jpg" width="35px" height="35px" align="">
                    </div>
                    <div class="details">
                        <p><a href="#">Zac Sniders</a><br/>
                        <muted>Available</muted>
                        </p>
                    </div>
                </div>
                <!-- Fifth Member -->
                <div class="desc">
                    <div class="thumb">
                        <img class="img-circle" src="../../index_files/stdash/img/ui-sam.jpg" width="35px" height="35px" align="">
                    </div>
                    <div class="details">
                        <p><a href="#">Marcel Newman</a><br/>
                        <muted>Available</muted>
                        </p>
                    </div>
                </div>

                <!-- CALENDAR-->
                <div id="calendar" class="mb">
                    <div class="panel green-panel no-margin">
                        <div class="panel-body">
                            <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                                <div class="arrow"></div>
                                <h3 class="popover-title" style="disadding: none;"></h3>
                                <div id="date-popover-content" class="popover-content"></div>
                            </div>
                            <div id="my-calendar"></div>
                        </div>
                    </div>
                </div><!-- / calendar -->

            </div><!-- /col-lg-3 -->
        </div>
    </section>
</section>
<%- include ../admin/stufoot.ejs %>