<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

            <p class="centered"><a href="profile.html"><img src="../../index_files/stdash/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
            <h5 class="centered">Super Admin</h5>

            <li class="mt">
                <a id="admin-dash"  href="/admin_dash">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li  class="sub-menu">
                <a id="static-pages">
                    <i class="fa fa-desktop"></i>
                    <span>Homepage Elements</span>
                </a>
                <ul class="sub">
                    <li id="aboutus"><a  href="/admin/aboutus">About us</a></li>
                    <li id="abterms"><a  href="/admin/abterms">Terms & conditions</a></li>
                    <li id="privacypolicy"><a  href="/admin/privacypolicy">Privacy & Policy</a></li>
                    <li id="faq"><a  href="/admin/faq">FAQ</a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a id="student-management">
                    <i class="fa fa-desktop"></i>
                    <span>Student Management</span>
                </a>
                <ul class="sub">
                    <li id="allstudents"><a  href="/admin/allstudents/1">All students</a></li>
                    <li id="activestudent"><a  href="/admin/activestudent/1">Active students</a></li>
                    <li id="inactivestudent"><a  href="/admin/inactivestudent/1">In-Activated students</a></li>
                    <li id="lockedstudent"><a  href="/admin/lockedstudent/1">Locked students</a></li>
                    <!--<li><a  href="inactive">Inactive students</a></li>-->
                </ul>
            </li>
            <li class="sub-menu">
                <a id="donors-management" href="/admin/donors/1">
                    <i class="fa fa-desktop"></i>
                    <span>Donors Management</span>
                </a>
             
            </li>



        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>