<footer class="site-footer">
    <div class="text-center">
<!--        <a href="#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>-->
    </div>
</footer>
<!--footer end-->
</section>

<script src="../../index_files/stdash/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="../../index_files/stdash/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="../../index_files/stdash/js/jquery.scrollTo.min.js"></script>
<script src="../../index_files/stdash/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="../../index_files/stdash/js/jquery.sparkline.js"></script>

<script src="../../index_files/assetbox/js/custom.js"></script>
<!--common script for all pages-->
<script src="../../index_files/stdash/js/common-scripts.js"></script>

<script type="text/javascript" src="../../index_files/stdash/js/gritter/js/jquery.gritter.js"></script>
<script type="text/javascript" src="../../index_files/stdash/js/gritter-conf.js"></script>

<!--script for this page-->
<script src="assets/js/sparkline-chart.js"></script>    
<script src="/js/dependencies/sails.io.js"></script>
<!--<script type="text/javascript">
    $(document).ready(function () {
        var unique_id = $.gritter.add({
            // (string | mandatory) the heading of the notification
            title: 'Welcome Admin',
            // (string | mandatory) the text inside the notification
            text: 'Hover me to enable the Close Button. ',
            // (string | optional) the image to display on the left
            image: '../../index_files/stdash/img/ui-sam.jpg',
            // (bool | optional) if you want it to fade out on its own or just sit there
            sticky: true,
            // (int | optional) the time you want it to be alive for before fading out
            time: '',
            // (string | optional) the class name you want to apply to that specific message
            class_name: 'my-sticky-class'
        });

        return false;
    });
</script>-->

<script type="application/javascript">
    $(document).ready(function () {
    $("#date-popover").popover({html: true, trigger: "manual"});
    $("#date-popover").hide();
    $("#date-popover").click(function (e) {
    $(this).hide();
    });
    });

    function myNavFunction(id) {
    $("#date-popover").hide();
    var nav = $("#" + id).data("navigation");
    var to = $("#" + id).data("to");
    console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
</script>


</body>
</html>