<%- include ../frontend/header.ejs %>

<div class="main-content" style="padding-top:80px;padding-bottom:15px">

    <!-- You only need this form and the form-register.css -->


    <div class="container" style="padding-bottom:25px">
        <div class="row">

            <div class="col-md-12" style="background-color:#fff">
                <div style="padding:9px 50px">
                    <h2 class="text-center">ABOUT US</h2>
                    <br>
                    <p id="description"></p>
                </div>
            </div>
        </div>



    </div>
    <%- include ../footer.ejs %>
    <script>
        function htmlEncode(value) {
            return $('<div/>').text(value).html();
        }

        function htmlDecode(value) {
            return $('<div/>').html(value).text();
        }
        $(document).ready(function () {
            $('#description').html(htmlDecode('<%= description %>'));
        });
    </script>
