        <script src="../index_files/faq/js/jquery-2.1.1.js"></script>
        <script src="../index_files/faq/js/modernizr.js"></script>
        <script src="../index_files/faq/js/jquery.mobile.custom.min.js"></script>
        <script src="../index_files/faq/js/main.js"></script>

    </body>

</html>