<%- include ../frontend/header.ejs %>
<div  class="main-content" style="padding-top:80px;padding-bottom:15px;">
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h2>Bootstrap Tutorial</h2>
                <br>
                <p>Thank you for donation.</p>
            </div>
        </div>

    </div>
</div>
<%- include ../frontend/footer.ejs %>