<%- include ../frontend/header.ejs %>
<style>
h1, h3 { font-weight: 300; }

  h1 { color: #636363;font-size:42px; }

  h3 { color: #4a89dc;font-size:25px; }

</style>
<div  class="main-content" style="padding-top:80px;padding-bottom:15px;">
    <div class="container">
        <div class="row">
             <div id="thanks">   
         
    <div class="white_bg" style="text-align:center; padding-bottom:150px"><br><br>
    <h1>Thank you for your donation</h1><br><br>
    <h3>Share this with others.</h3><br>
    <a href="https://www.facebook.com" target="blank"> <img src="../../index_files/fbshare.png" alt="Submit" style="width:185px; height:45px"></a>
           <a href="https://www.twitter.com" target="blank"> <img src="../../index_files/tshare.png" alt="Submit" style="width:185px; height:45px"></a>
    </div>

</div>
        </div>

    </div>
</div>
<%- include ../frontend/footer.ejs %>