<%- include ../stuhead.ejs %>

 <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <p class="centered"><a href="profile.html"><img src="../../index_files/stdash/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
                  <h5 class="centered">Sandra Rayman</h5>
                    
                  <li class="mt">
                      <a  href="../studash/studash">
                          <i class="fa fa-tachometer" aria-hidden="true"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="active" class="sub-menu">
                      <a href="../personal/personal" >
                          <i class="fa fa-user" aria-hidden="true"></i>
                          Personal Details
                      </a>
                      
                  </li>

                  <li class="sub-menu">
                      <a href="../education/education" >
                         <i class="fa fa-book" aria-hidden="true"></i>
                          <span>Education Details</span>
                      </a>
                      
                  </li>
                  <li class="sub-menu">
                      <a href="../loan/loan" >
                          <i class="fa fa-money" aria-hidden="true"></i>
                          <span>Loan Details</span>
                      </a>
                     
                  </li>
                  <li class="sub-menu">
                      <a href="donors" >
                          <i class="fa fa-users" aria-hidden="true"></i>
                          <span>See Donors</span>
                      </a>
                     
                  </li>
                  <li class="sub-menu">
                      <a href="account" >
                          <i class="fa fa-key" aria-hidden="true"></i>
                          <span>Account Details</span>
                      </a>
                    
                  </li>
                 

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
<section id="main-content">
          <section class="wrapper">
          <br>

           <form action="/education" method="POST" role="form">
 
 <h2>Education details</h2><br>

    <div class="form-group">
     
      <input type="text" class="form-control" id="level" name="level" placeholder="Enter your education level">
    </div>
    <div class="form-group">
      
      <input type="text" class="form-control" id="current" name="current" placeholder="Currently studying">
    </div>
    <div class="form-group ">
      
      <input type="text" class="form-control" id="degree" name="degree" placeholder="Enter details of any special degree (optional)">
    </div>
   
   

    <h2>College details</h2><br>

 <div class="form-group ">
      <input type="text" class="form-control" id="college" name="college" placeholder="Enter your college name">
    </div>
    

    <div class="form-group ">
      <input type="text" class="form-control" id="code" name="code" placeholder="Enter your college code">
    </div>

    <div class="form-group">
   
      <input type="text" class="form-control" id="colcontact" name="colcontact" placeholder="Enter your college contact number">
    </div>

     <div class="form-group">
   
      <input type="text" class="form-control" id="colemail" name="colemail" placeholder="Enter your college mail id">
    </div>

    <div class="form-group">
   
      <input type="text" class="form-control" id="coladd" name="coladd" placeholder="Enter your college address">
    </div>
   

    
    <br>
    <input type="hidden" name="_csrf" value="<% _csrf%>" />
    <button type="submit" class="btn btn-default text-center">Submit</button>
    
  </form>
 <!--div class="panel panel-default">
    <div class="panel-body">
    <h1>Sandra Rayman</h1>
    <h3>Age <b>24</b></h3>
    <h4>Florida</h4>

    <h1 class="phead">About me</h1><br>I was just a simple guy, one of those you see everyday in the street … Nothing really special… I’ve done stupid things, nothing terrible though, and not more often thananyone else, a pretty normal guy in the end… (I haven’t led a gang or killedanybody, sorry!) My parents held a small drinks shop (coke, beer, wine…) and I sometimes worked there after school. I probably could have taken it over and had a settled life, as ordinary as it gets… But I was lacking something deeper, something that I could feel in my guts; something that would taste true …<hr>
     <h1 class="phead">Contact Details</h1><br>
     
     <div><h4>Contact Number: <b>9876543210</b></h4></div><br>
     <div><h4>Address: <b>Walnut Street, 204 7th block, Florida</b></h4></div><br>
     <div><h4>Email: <b>Sandra@gmail.com</b></h4></div><br>
     <div><h4>Occupation: <b>Student</b></h4></div><br>
     <br><br>
      <button data-toggle="tooltip" title="edit" class="btn-warning fa fa-edit"></button>
       
    </div>
  </div--></section>
  </section> 
                
                  <%- include ../stufoot.ejs %>
