  <footer id="footer" class="footer bg-black-222">
        <div class="container pt-70 pb-30">
            <div class="row border-bottom-black">
               
                 <div class="col-sm-6 col-md-6">
                    <div class="widget dark mb-20">
                        <h5 class="widget-title line-bottom">Quick Contact</h5>
                        <ul class="list-border font-13">
                            <li><a href="#">+1 407 437 3194</a>
                            </li>
                            <li><a href="mailto:support@stumuch.com">support@stumuch.com</a>
                            </li>
                        </ul>
                    </div>

                    <div class="widget dark">
                   <ul class="social-icons icon-dark icon-circled icon-sm mt-10">
                        <li><a href="https://www.facebook.com/stumuch"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://twitter.com/stumuchservices"><i class="fa fa-twitter"></i></a>
                        </li>

                        <li><a href="https://www.youtube.com/user/stumuchservices"><i class="fa fa-youtube"></i></a>
                        </li>

                        <li><a href="https://www.pinterest.com/stumuch/"><i class="fa fa-pinterest"></i></a>
                        <li><a href="https://www.instagram.com/stumuchservices/"><i class="fa fa-instagram"></i></a>
                        <li><a href="http://stumuch.blogspot.com"><i class="fa fa-google"></i></a>
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="widget dark mb-20">
                        <h5 class="widget-title line-bottom">Links</h5>
                        <ul class="list-border font-13">
                            <li><a href="/aboutus">About Us</a>
                            </li>
                            <li><a href="/faq">FAQ</a>
                            </li>
                            <li><a href="/termsandconditions">Terms & Conditions</a>
                            </li>
                            <li><a href="/privacypolicy">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>

               </div>
            </div>
           
        </div>
        <div class="footer-bottom bg-black-333">
            <div class="container pt-20 pb-20">
                <div class="row">
                    <div class="col-md-6 sm-text-center">
                        <p class="font-11 text-black-777 m-0">Copyright ©2016 STUMUCH. All Rights Reserved</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>
    <a style="display: block;" class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- end wrapper -->

    <!-- Footer Scripts -->

    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- external javascripts -->
    <script src="index_files/jquery-2.js"></script>
    <script src="index_files/jquery-ui.js"></script>
    <script src="index_files/bootstrap.js"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="index_files/jquery-plugin-collection.js"></script>



    <!-- JS | Custom script for all pages -->
    <script src="index_files/custom.js"></script>

   

    <script>
        $(document).ready(function() {

            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds
                loop:true,
                items: 1,
                itemsDesktop: [1199, 3],
                itemsDesktopSmall: [979, 3]

            });

        });
    </script>
    <script>


    $(document).ready(function() {
     
      $("#owl-demo").owlCarousel({
     
          navigation : true, // Show next and prev buttons
          slideSpeed : 300,
          paginationSpeed : 400,
          singleItem:true
     
          // "singleItem:true" is a shortcut for:
          // items : 1, 
          // itemsDesktop : false,
          // itemsDesktopSmall : false,
          // itemsTablet: false,
          // itemsMobile : false
     
      });
     
    });


</script>


    <!-- Color Switcher Starts | Only for demo purpose and not included in main file -->

    <!-- switcher html -->

    <!-- Color Switcher Ends-->
    <!-- Modal: Bootstrap Parent Modal Starts -->
    <div class="modal fade" id="BSParentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal: Bootstrap Parent Modal Ends -->
</body>

</html>
