<%- include /header2.ejs %>
<!DOCTYPE html>
<html class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths no-mobile" style="" dir="ltr" lang="en"><head>

        <!-- Meta Tags -->
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="description" content="CharityPress - Nonprofit, Crowdfunding &amp; Charity HTML5 Template">
        <meta name="keywords" content="building,business,construction,cleaning,transport,workshop">
        <meta name="author" content="ThemeMascot">

        <!-- Page Title -->
        <title>Stumuch</title>

        <!-- Favicon and Touch Icons -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../index_files/assets/form-register.css">
        <link rel="stylesheet" href="../../index_files/bootstrap-social.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
        <!--<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">-->
        <!--<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>-->
        <!--<link rel="stylesheet" href="../../index_files/mdl/material.min.css">-->

        <script  src="../../index_files/stdash/js/angular.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="../../index_files/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="../../index_files/jquery-ui.css" rel="stylesheet" type="text/css">
        <link href="../../index_files/animate.css" rel="stylesheet" type="text/css">
        <!--<link href="../../index_files/css-plugin-collections.css" rel="stylesheet">-->
        <!-- CSS | menuzord megamenu skins -->
        <link id="menuzord-menu-skins" href="../../index_files/menuzord-boxed.css" rel="stylesheet">
        <!-- CSS | Main style file -->
        <link href="../../index_files/style-main.css" rel="stylesheet" type="text/css">
        <!-- CSS | Preloader Styles -->
        <link href="../../index_files/preloader.css" rel="stylesheet" type="text/css">
        <!-- CSS | Custom Margin Padding Collection -->
        <link href="../../index_files/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
        <!-- CSS | Responsive media queries -->
        <link href="../../index_files/responsive.css" rel="stylesheet" type="text/css">
        <link href="../../index_files/css-plugin-collections.css" rel="stylesheet">
        <link id="menuzord-menu-skins" href="../../index_files/menuzord-boxed.css" rel="stylesheet">
        <style>


            body {
                font-family: Helvetica;
                background: #eee;
                -webkit-font-smoothing: antialiased;
            }

            hgroup { 
                text-align:center;
                margin-top: 4em;
            }

            h1, h3 { font-weight: 300; }

            h1 { color: #636363; }

            h3 { color: #4a89dc; }

            form {
                width: 50%;
                margin: 4em auto;
                padding: 3em 3em 2em 2em;
                background: #fafafa;
                border: 1px solid #ebebeb;
                box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
            }

            .group { 
                position: relative; 
                margin-bottom: 45px; 
            }


            input {
                font-size: 18px;
                padding: 10px 10px 10px 5px;
                -webkit-appearance: none;
                display: block;
                background: #fafafa;
                color: #636363;
                width: 100%;
                border: none;
                border-radius: 0;
                border-bottom: 1px solid #757575;
            }

            .social-btns
            {
                width:210px;
            }
            input:focus { outline: none; }


            /* Label */

            label {
                color: #999; 
                font-size: 18px;
                font-weight: normal;
                position: absolute;
                pointer-events: none;
                left: 5px;
                top: 10px;
                transition: all 0.2s ease;
            }


            /* active */

            input:focus ~ label, input.used ~ label {
                top: -20px;
                transform: scale(.75); left: -2px;
                /* font-size: 14px; */
                color: #4a89dc;
            }


            /* Underline */

            .bar {
                position: relative;
                display: block;
                width: 100%;
            }

            .bar:before, .bar:after {
                content: '';
                height: 2px; 
                width: 0;
                bottom: 1px; 
                position: absolute;
                background: #4a89dc; 
                transition: all 0.2s ease;
            }

            .bar:before { left: 50%; }

            .bar:after { right: 50%; }


            /* active */

            input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


            /* Highlight */

            .highlight {
                position: absolute;
                height: 60%; 
                width: 100px; 
                top: 25%; 
                left: 0;
                pointer-events: none;
                opacity: 0.5;
            }


            /* active */

            input:focus ~ .highlight {
                animation: inputHighlighter 0.3s ease;
            }


            /* Animations */

            @keyframes inputHighlighter {
                from { background: #4a89dc; }
                to  { width: 0; background: transparent; }
            }


            /* Button */

            .button {
                position: relative;
                display: inline-block;
                padding: 12px 24px;
                margin: .3em 0 1em 0;
                width: 100%;
                vertical-align: middle;
                color: #fff;
                font-size: 16px;
                line-height: 20px;
                -webkit-font-smoothing: antialiased;
                text-align: center;
                letter-spacing: 1px;
                background: transparent;
                border: 0;
                border-bottom: 2px solid #3160B6;
                cursor: pointer;
                transition: all 0.15s ease;
            }
            .button:focus { outline: 0; }


            /* Button modifiers */

            .buttonBlue {
                background: #4a89dc;
                text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
            }

            .buttonBlue:hover { background: #357bd8; }


            /* Ripples container */

            .ripples {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                background: transparent;
            }


            /* Ripples circle */

            .ripplesCircle {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                width: 0;
                height: 0;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.25);
            }

            .ripples.is-active .ripplesCircle {
                animation: ripples .4s ease-in;
            }
            form h2.text-center:after {
                content: '';
                width: 200px;
                height: 2px;
                background-color: #444;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 10px;
                margin-bottom:28px;
            }

            /* Ripples animation */

            @keyframes ripples {
                0% { opacity: 0; }

                25% { opacity: 1; }

                100% {
                    width: 200%;
                    padding-bottom: 200%;
                    opacity: 0;
                }
            }



            footer p {
                color: #888;
                font-size: 13px;
                letter-spacing: .4px;
            }

            footer a {
                color: #4a89dc;
                text-decoration: none;
                transition: all .2s ease;
            }

            footer a:hover {
                color: #666;
                text-decoration: underline;
            }

            footer img {
                width: 80px;
                transition: all .2s ease;
            }

            footer img:hover { opacity: .83; }

            footer img:focus , footer a:focus { outline: none; }

            .row.vdivide [class*='col-']:not(:last-child):after {
                background: #e0e0e0;
                width: 1px;
                content: "";
                display:block;
                position: absolute;
                top:0;
                bottom: 0;
                right: 0;
                min-height: 70px;
            }
            .has-error{
                color: red;
            }
            .menuzord-menu > li > a {
                font-size: 13px;
                font-weight: 400;
            }
        </style>
    </head>
    <body ng-app="postApp" ng-controller="postController">
        <!--        <header id="header" class="header">
                    <div class="header-nav navbar-fixed-top header-dark navbar-white navbar-transparent bg-transparent-1 navbar-sticky-animated">
                        <div class="header-nav-wrapper">
                            <div class="container">
                                <nav style="" id="menuzord-right" class="menuzord default no-bg menuzord-responsive"><a style="display: none;" href="javascript:void(0)"><em></em><em></em><em></em></a>
                                    <a href="../"><img src="./../../index_files/stulogo.png" style="width:186px;padding-top:11px"></a>
                                    <ul style="max-height: 400px;" class="menuzord-menu menuzord-right menuzord-indented scrollable">
        
                                        <li style=""  ><a href="/allprofile">Profiles</a>
                                        </li>
                                        
        
                                        </li>
                                        <li style=""><a href="../stulogin/stulogin">Create account</a>
        
                                        </li>
                                        <li style="" class="active"><a href="/student/login">Login </a>
        
                                        </li>
        
                                    </ul>
                                    </li>
        
        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </header>-->
        <div class="main-content" style="padding-top:50px;">
            <div class="row">

                <div class="col-md-12">

                    <form method="POST" action="/submitforgotpassword" name="forgotpasswordForm" id="forgotpasswordForm" role="form" novalidate> 
                        <%- req.flash('error') %>
                        <%- req.flash('success') %>
                        <h2 class="text-center">Forgot Password</h2>
                        <div class="form-group col-md-12">
                            <input type="email" ng-model="student.email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                            <span class="help-block has-error  ng-hide" ng-show="submitted && forgotpasswordForm.email.$error.required">Email Id is required</span>
                            <span class="help-block has-error  ng-hide" ng-show="submitted && forgotpasswordForm.email.$error.email">Not valid email!</span>
                        </div>

                        <button type="submit" ng-click="submitted = true" class="btn btn-default col-md-offset-5">Submit</button>
                        <!--<input type="submit" ng-click="submitted = true" class="btn btn-default col-md-offset-5" value="Submit">-->
                    </form>
                </div>
            </div>
        </div>

        <footer id="footer" class="footer bg-black-222">
            <div class="container pt-70 pb-30">
                <div class="row border-bottom-black">

                    <div class="col-sm-6 col-md-6">
                        <div class="widget dark mb-20">
                            <h5 class="widget-title line-bottom">Quick Contact</h5>
                            <ul class="list-border font-13">
                                <li><a href="#">+(012) 345 6789</a>
                                </li>
                                <li><a href="#">Stumuch@gmail.com</a>
                                </li>
                            </ul>
                        </div>

                        <div class="widget dark">

                            <ul class="social-icons icon-dark icon-circled icon-sm mt-10">
                                <li><a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a>
                                </li>

                                <li><a href="#"><i class="fa fa-youtube"></i></a>
                                </li>

                                <li><a href="#"><i class="fa fa-pinterest"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="widget dark mb-20">
                            <h5 class="widget-title line-bottom">Links</h5>
                            <ul class="list-border font-13">
                                <li><a href="#">About Us</a>
                                </li>
                                <li><a href="faq1">FAQ</a>
                                </li>
                                <li><a href="#">Terms & Conditions</a>
                                </li>
                                <li><a href="#">Privacy Policy</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
            <div class="footer-bottom bg-black-333">
                <div class="container pt-20 pb-20">
                    <div class="row">
                        <div class="col-md-6 sm-text-center">
                            <p class="font-11 text-black-777 m-0">Copyright ©2016 STUMUCH. All Rights Reserved</p>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
<script>
    var postApp = angular.module('postApp', []);
    postApp.controller('postController', function ($scope, $http) {

        $("#forgotpasswordForm").submit(function () {
            if ($scope.forgotpasswordForm.$valid) {
                return true;
            } else {
                return false;
            }
        });
    });

</script>
