<header id="header" class="header">
            <div class="header-nav navbar-fixed-top header-dark navbar-white navbar-transparent bg-transparent-1 navbar-sticky-animated">
                <div class="header-nav-wrapper">
                    <div class="container">
                        <nav style="" id="menuzord-right" class="menuzord default no-bg menuzord-responsive"><a style="display: none;" href="javascript:void(0)"><em></em><em></em><em></em></a>
                            <a href="../"><img src="./../../index_files/stulogo.png" style="width:186px;padding-top:11px"></a>
                            <ul style="max-height: 400px;" class="menuzord-menu menuzord-right menuzord-indented scrollable">

                                <li style=""  ><a href="/allprofile">Profiles</a>
                                </li>
                                

                                </li>
                                <li style=""><a href="../stulogin/stulogin">Create account</a>

                                </li>
                                <li style=""><a href="/student/login">Login </a>

                                </li>

                            </ul>
                            </li>


                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>