


    <div id="wrapper" class="clearfix">
        <!-- preloader -->
        

        <!-- Header -->
        <header id="header" class="header">
            <!-- <div class="header-nav navbar-fixed-top header-dark navbar-white navbar-transparent bg-transparent-1 navbar-sticky-animated">
                <div class="header-nav-wrapper">
                    <div class="container">
                        <nav style="" id="menuzord-right" class="menuzord default no-bg menuzord-responsive">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuzord-right">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span> 
                          </button>
                           <a href="../"><img src="./index_files/stulogo.png" style="width:186px;padding-top:11px"></a>
                            <ul style="max-height: 400px;" class="menuzord-menu menuzord-right menuzord-indented scrollable">
                              

                                <li style="" ><a href="/allprofile">Profiles</a>

                                </li>

                                <li class="hidden-xs hidden-sm" style=""><a href="signup">Create account</a>

                                </li>
                                <li class="hidden-xs hidden-sm" style=""><a href="/login">Login</a>

                                </li>

                            </ul>
                            </li>


                       
                            </ul>
                        </nav>
                </div>
            </div>
        </div> -->

        <nav class="navbar navbar-inverse header-nav navbar-fixed-top header-dark navbar-white navbar-transparent bg-transparent-1 navbar-sticky-animated">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
              </button>
              <a class="navbar-brand" href="../" style="padding: 0px;"><img src="../index_files/stulogo.png" style="width:186px;padding-top:5px;"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
                <li style="" ><a href="/allprofile">Profiles</a>

                                </li>

                                <li class="hidden-xs hidden-sm" style=""><a href="/signup">Create account</a>

                                </li>
                                <li class="hidden-xs hidden-sm" style=""><a href="/login">Login</a>

                                </li>
              </ul>
            </div>
          </div>
        </nav>
        </header>
