<!DOCTYPE html>
<html class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths no-mobile" style="" dir="ltr" lang="en">

<head>
<link rel="icon" href="index_files/favicon.png">
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="CharityPress - Nonprofit, Crowdfunding &amp; Charity HTML5 Template">
    <meta name="keywords" content="building,business,construction,cleaning,transport,workshop">
    <meta name="author" content="ThemeMascot">

    <!-- Page Title -->
    <title>Stumuch</title>

    <!-- Favicon and Touch Icons -->


    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
    <link href="index_files/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="index_files/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="index_files/animate.css" rel="stylesheet" type="text/css">
    <link href="index_files/css-plugin-collections.css" rel="stylesheet">
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="index_files/menuzord-boxed.css" rel="stylesheet">
    <!-- CSS | Main style file -->
    <link href="index_files/style-main.css" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="index_files/preloader.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="index_files/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="index_files/responsive.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

    <!-- Revolution Slider 5.x CSS settings -->
    <link href="index_files/settings.css" rel="stylesheet" type="text/css">
    <link href="index_files/layers.css" rel="stylesheet" type="text/css">
    <link href="index_files/navigation.css" rel="stylesheet" type="text/css">
    
    <!-- CSS | Theme Color -->
    <link href="index_files/theme-skin-blue-gary.css" rel="stylesheet" type="text/css">

<style>


    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }

</style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    <style id="fit-vids-style">
        .fluid-width-video-wrapper {
            width: 100%;
            position: relative;
            padding: 0;
        }
        .fluid-width-video-wrapper iframe,
        .fluid-width-video-wrapper object,
        .fluid-width-video-wrapper embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        #jumbo{
            background-size:cover;
            background-image:url(index_files/bg3.jpg);
        
             -webkit-filter: grayscale(70%); 
            filter: grayscale(70%);
        }
        #shademain{
            text-shadow:4px 4px 4px rgb(8, 7, 7);
}
    </style>
    
</head>

<body class="">
    <div id="wrapper" class="clearfix">
        <!-- preloader -->
        

        <!-- Header -->
        <header id="header" class="header">
            <div class="header-nav navbar-fixed-top header-dark navbar-white navbar-transparent bg-transparent-1 navbar-sticky-animated">
                <div class="header-nav-wrapper">
                    <div class="container">
                        <nav style="" id="menuzord-right" class="menuzord default no-bg menuzord-responsive">
                           <a href="../"><img src="./index_files/stulogo.png" style="width:186px;padding-top:11px"></a>
                            <ul style="max-height: 400px;" class="menuzord-menu menuzord-right menuzord-indented scrollable">
                              

                                <li style="" ><a href="allprofile/allprofile">Profiles</a>

                                </li>
                                <li style="" ><a href="myprofile/myprofile">My Profile</a>

                                </li>
                                <li style=""><a href="stulogin/stulogin">Create account</a>

                                </li>
                                <li style=""><a href="login/login">Login </a>

                                </li>

                            </ul>
                            </li>


                       
                            </ul>
                        </nav>

        </header>
