<!DOCTYPE html>
<html>
  <head>
    <title>Stumuch</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">



<link rel="icon" href="../../index_files/favicon.png">
    <!-- Meta Tags -->
   
    <!-- Page Title -->
    <title>Stumuch</title>

   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="index_files/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="index_files/animate.css" rel="stylesheet" type="text/css">
    <link href="index_files/css-plugin-collections.css" rel="stylesheet">
    
   
    <link href="index_files/style-main.css" rel="stylesheet" type="text/css">
  
    <link href="index_files/preloader.css" rel="stylesheet" type="text/css">
  
    <link href="index_files/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
   
    <link href="index_files/responsive.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <link href="index_files/settings.css" rel="stylesheet" type="text/css">
    <link href="index_files/layers.css" rel="stylesheet" type="text/css">
    <link href="index_files/navigation.css" rel="stylesheet" type="text/css">
    
    <!-- CSS | Theme Color -->
    <link href="index_files/theme-skin-blue-gary.css" rel="stylesheet" type="text/css">

<style>


    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }

</style>

   
    <style id="fit-vids-style">
        .fluid-width-video-wrapper {
            width: 100%;
            position: relative;
            padding: 0;
        }
        .fluid-width-video-wrapper iframe,
        .fluid-width-video-wrapper object,
        .fluid-width-video-wrapper embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        #jumbo{
            background-size:cover;
            background-image:url(index_files/bg3.jpg);
        
/*             -webkit-filter: grayscale(70%); 
            filter: grayscale(70%);*/
        }
        #shademain{
            text-shadow:4px 4px 4px rgb(8, 7, 7);
}
    </style>
     
    <link href="../../index_files/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="../../index_files/animate.css" rel="stylesheet" type="text/css">
    <!--external css-->
    
    <link rel="stylesheet" type="text/css" href="../../index_files/stdash/lineicons/style.css">    
    
  
    <link href="../../index_files/stdash/css/style.css" rel="stylesheet">
    <link href="../../index_files/stdash/css/style-responsive.css" rel="stylesheet">

    
    
     <style>
     .has-error{
        color:red !important;
     }
     </style>
    


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>

  
    <%- body %>


    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script>
// var myVar;

// function preload_page() {
//     myVar = setTimeout(showPage, 3000);
// }

// function showPage() {
//   document.getElementById("loader").style.display = "none";
//   document.getElementById("myDiv").style.display = "block";
// }

</script>
    <!--SCRIPTS END-->
  </body>
</html>
