<aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
           

              <center>
                  <img src=" <% if (student_info[0].student_profile_pic_path == '' || student_info[0].student_profile_pic_path == null) { %><% sails.getBaseurl() %>/index_files/blank_dp.jpg <% } else { %><% sails.getBaseurl() %>/index_files/uploads/<%= student_info[0].student_id %>/<%= student_info[0].student_profile_pic_path %> <% } %>" style="width:180px;height:115px;" class="dp_left thumbnail"></center>
                  <h5 class="centered"><%= student_info[0].student_firstname %> <%= student_info[0].student_lastname %></h5>
                   
                  <li class="mt">
                      <a  id="dashboard" href="/dashboard">
                          <i class="fa fa-tachometer" aria-hidden="true"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <!--li class="sub-menu">
                      <a href="../personal_view/personal_view" >
                          <i class="fa fa-user" aria-hidden="true"></i>
                          Personal Details
                      </a>
                      
                  </li>

                  <li class="sub-menu">
                      <a href="../education_view/education_view" >
                         <i class="fa fa-book" aria-hidden="true"></i>
                          <span>Education Details</span>
                      </a>
                      
                  </li>
                  <li class="sub-menu">
                      <a href="../loan_view/loan_view" >
                          <i class="fa fa-money" aria-hidden="true"></i>
                          <span>Loan Details</span>
                      </a>
                     
                  </li-->
                  <!--li class="sub-menu">
                      <a href="donors" >
                          <i class="fa fa-users" aria-hidden="true"></i>
                          <span>See Donors</span>
                      </a>
                     
                  </li>
                  <li class="sub-menu">
                      <a href="account" >
                          <i class="fa fa-key" aria-hidden="true"></i>
                          <span>Account Details</span>
                      </a>
                    
                  </li-->
                    <li class="sub-menu">
                      <a id="studentprofile" href="/viewprofile" >
                          <i class="fa fa-key" aria-hidden="true"></i>
                          <span>My profile</span>
                      </a>                      
                  </li>
                 

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
 