<aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <p class="centered"><img src="../index_files/uploads/<%= answer.student_profile_pic_path %>" class="dp_left"</p>
                  <h5 class="centered"><%= answer.student_firstname %> <%= answer.student_lastname %></h5>
                    
                  <li class="mt">
                      <a class="active" href="../studash/studash">
                          <i class="fa fa-tachometer" aria-hidden="true"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <!--li class="sub-menu">
                      <a href="../personal_view/personal_view" >
                          <i class="fa fa-user" aria-hidden="true"></i>
                          Personal Details
                      </a>
                      
                  </li>

                  <li class="sub-menu">
                      <a href="../education_view/education_view" >
                         <i class="fa fa-book" aria-hidden="true"></i>
                          <span>Education Details</span>
                      </a>
                      
                  </li>
                  <li class="sub-menu">
                      <a href="../loan_view/loan_view" >
                          <i class="fa fa-money" aria-hidden="true"></i>
                          <span>Loan Details</span>
                      </a>
                     
                  </li-->
                  <!--li class="sub-menu">
                      <a href="donors" >
                          <i class="fa fa-users" aria-hidden="true"></i>
                          <span>See Donors</span>
                      </a>
                     
                  </li>
                  <li class="sub-menu">
                      <a href="account" >
                          <i class="fa fa-key" aria-hidden="true"></i>
                          <span>Account Details</span>
                      </a>
                    
                  </li-->
                    <li class="sub-menu">
                      <a href="/viewprofile/1" >
                          <i class="fa fa-key" aria-hidden="true"></i>
                          <span>My profile</span>
                      </a>
                    
                  </li>
                 

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
 