
<title>Stumuch</title>

<!-- Favicon and Touch Icons -->

<link rel="stylesheet" href="../../index_files/bootstrap-social.css">
<link href='http://fonts.googleapis.com/css?family=Cantarell:400,700' rel='stylesheet' type='text/css'>
<link href="../../index_files/flowup/css/main.css" rel='stylesheet' type='text/css'>
<link href="../../index_files/flowup/css/jquery.FlowupLabels.css" rel='stylesheet' type='text/css'>


<link href="../../index_files/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../../index_files/jquery-ui.css" rel="stylesheet" type="text/css">
<link href="../../index_files/animate.css" rel="stylesheet" type="text/css">
<link href="../../index_files/css-plugin-collections.css" rel="stylesheet">
<!-- CSS | menuzord megamenu skins -->
<link id="menuzord-menu-skins" href="../../index_files/menuzord-boxed.css" rel="stylesheet">
<!-- CSS | Main style file -->
<link href="../../index_files/style-main.css" rel="stylesheet" type="text/css">
<!-- CSS | Preloader Styles -->
<link href="../../index_files/preloader.css" rel="stylesheet" type="text/css">
<!-- CSS | Custom Margin Padding Collection -->
<link href="../../index_files/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
<!-- CSS | Responsive media queries -->
<link href="../../index_files/responsive.css" rel="stylesheet" type="text/css">
<script  src="../../index_files/stdash/js/angular.min.js"></script>

<link href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css'>
<style>


  body {
    font-family: Helvetica;
    background: #eee;
    -webkit-font-smoothing: antialiased;
  }

  hgroup { 
    text-align:center;
    margin-top: 4em;
  }

  h1, h3 { font-weight: 300; }

  h1 { color: #636363; }

  h3 { color: #4a89dc; }

  form {
    width: 50%;
    margin: 4em auto;
    padding: 3em 3em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  }

  .group { 
    position: relative; 
    margin-bottom: 45px; 
  }


  input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: #fff;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border: 1px solid #f4f4f4;
    border-left: 0px;

  }

  .social-btns
  {
    width:210px;
  }
  input:focus { outline: none; }


  /* Label */




  /* active */

  input:focus ~ label, input.used ~ label {
    top: -20px;
    transform: scale(.75); left: -2px;
    /* font-size: 14px; */
    color: #4a89dc;
  }


  /* Underline */

  .bar {
    position: relative;
    display: block;
    width: 100%;
  }

  .bar:before, .bar:after {
    content: '';
    height: 2px; 
    width: 0;
    bottom: 1px; 
    position: absolute;
    background: #4a89dc; 
    transition: all 0.2s ease;
  }

  .bar:before { left: 50%; }

  .bar:after { right: 50%; }


  /* active */

  input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


  /* Highlight */

  .highlight {
    position: absolute;
    height: 60%; 
    width: 100%; 
    top: 0%; 
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }


  input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
  }


  /* Animations */

  @keyframes inputHighlighter {
    from { background: #4a89dc; }
    to  { width: 0; background: transparent; }
  }


  /* Button */


  .button:focus { outline: 0; }


  /* Button modifiers */

  .buttonBlue {
    background: #4a89dc;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
  }

  .buttonBlue:hover { background: #357bd8; }


  /* Ripples container */


  form h2.text-center:after {
    content: '';
    width: 200px;
    height: 2px;
    background-color: #444;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom:28px;
  }

  /* Ripples animation */

  @keyframes ripples {
    0% { opacity: 0; }

    25% { opacity: 1; }

    100% {
      width: 200%;
      padding-bottom: 200%;
      opacity: 0;
    }
  }

  footer { text-align: center; }

  footer p {
    color: #888;
    font-size: 13px;
    letter-spacing: .4px;
  }

  footer a {
    color: #4a89dc;
    text-decoration: none;
    transition: all .2s ease;
  }

  footer a:hover {
    color: #666;
    text-decoration: underline;
  }

  footer img {
    width: 80px;
    transition: all .2s ease;
  }

  footer img:hover { opacity: .83; }

  footer img:focus , footer a:focus { outline: none; }

  .row.vdivide [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
  }
  label {
  position:absolute;
  transform:translateY(6px);
  left:50px;
  color:#333;
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:15px;
  
}

label.active {
  transform:translateY(-20px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

label.highlight {
  color:#000;
}

input, textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:#fff;
  background-image:none;
  border-left:0px;
  color:#000;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
    outline:0;
    border-color:$main;
  }
}

textarea {
  border:2px solid $gray-light;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:35px;
  color:#fff !important;
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

</style>

<style type="text/css">
  .help-block {
    display: block;
    margin-top: -3px;
    margin-bottom: 0px;
    color: #737373;
    position: absolute !important;
    font-size: 12px;
    left: 0;
  }
  form input[type="text"]:focus {
    border-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: none; 
    -moz-box-shadow: none;
    box-shadow: none;

  }
</style>
<style>
.thankyou_sent{
padding: 5px 250px;
}
</style>
</head>
<body  ng-app="postApp" ng-controller="postController">
<header id="header" class="header">
  <div class="header-nav navbar-fixed-top header-dark navbar-white navbar-transparent bg-transparent-1 navbar-sticky-animated">
    <div class="header-nav-wrapper">
      <div class="container">
        <nav style="" id="menuzord-right" class="menuzord default no-bg menuzord-responsive">
         <a href="../"><img src="./../../index_files/stulogo.png" style="width:186px;padding-top:11px"></a>
         <ul class="menuzord-menu menuzord-right menuzord-indented scrollable">
           

          <li style="" ><a href="/allprofile">Profiles</a>

          </li>
          
          <li style=""><a href="../signup">Create account</a>

          </li>
          <li style=""><a href="/login">Login </a>

          </li>

        </ul>
      </li>


      
    </ul>
  </nav>

</header>

<div class="main-content" style="padding-top:80px;padding-bottom:15px">

  <!-- You only need this form and the form-register.css -->

  <!--form action="/user" method="POST" role="form"-->
  


 <div id="thanks">   
         
    <div class="white_bg" style="text-align:center; padding-bottom:150px"><br><br>
    <h1> Thanks for registering! We’re thrilled to have you on-board.</h1>
    <h3 class="thankyou_sent">An activation link has been sent to you in an email. Please check your email and click on that link to activate your account.  Once you have activated, login, and create your student funding profile. 

Happy Beginning!.</h3>
    </div>

</div>
<footer id="footer" class="footer bg-black-222">
  <div class="container pt-70 pb-30">
    <div class="row border-bottom-black">
     
     <div class="col-sm-6 col-md-6">
      <div class="widget dark mb-20">
        <h5 class="widget-title line-bottom">Quick Contact</h5>
        <ul class="list-border font-13">
          <li><a href="#">+1 407 437 3194</a>
          </li>
          <li><a href="mailto:support@stumuch.com">support@stumuch.com</a>
          </li>
        </ul>
      </div>

      <div class="widget dark">
        
      <ul class="social-icons icon-dark icon-circled icon-sm mt-10">
          <li><a href="https://www.facebook.com/stumuch"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="https://twitter.com/stumuchservices"><i class="fa fa-twitter"></i></a>
          </li>
          
          <li><a href="https://www.youtube.com/user/stumuchservices"><i class="fa fa-youtube"></i></a>
          </li>
          
          <li><a href="https://www.pinterest.com/stumuch/"><i class="fa fa-pinterest"></i></a>
          <li><a href="https://www.instagram.com/stumuchservices/"><i class="fa fa-instagram"></i></a>
          <li><a href="http://stumuch.blogspot.com"><i class="fa fa-google"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="widget dark mb-20">
        <h5 class="widget-title line-bottom">Links</h5>
        <ul class="list-border font-13">
          <li><a href="#">About Us</a>
          </li>
          <li><a href="faq1">FAQ</a>
          </li>
          <li><a href="#">Terms & Conditions</a>
          </li>
          <li><a href="#">Privacy Policy</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  
</div>
<div class="footer-bottom bg-black-333">
  <div class="container pt-20 pb-20">
    <div class="row">
      <div class="col-md-6 sm-text-center">
        <p class="font-11 text-black-777 m-0">Copyright ©2016 STUMUCH. All Rights Reserved</p>
      </div>
      
    </div>
  </div>
</div>
</footer>
<script src='../../index_files/flowup/js/jquery.min.js'></script>

<script src='../../index_files/flowup/js/jquery.FlowupLabels.js'></script>
<script src='../../index_files/flowup/js/main.js'></script>
 <script>

    $('.form').find('input, textarea').on('keyup blur focus click', function (e) {
  
  var $this = $(this),
      label = $this.prev('label');

      if (e.type === 'keyup') {
            if ($this.val() === '') {
          label.removeClass('active highlight');
        } else {
          label.addClass('active highlight');
        }
    } else if (e.type === 'blur') {
        if( $this.val() === '' ) {
            label.removeClass('active highlight'); 
            } else {
            label.removeClass('highlight');   
            }   
    } else if (e.type === 'focus') {
      
      if( $this.val() === '' ) {
            label.removeClass('highlight'); 
            } 
      else if( $this.val() !== '' ) {
            label.addClass('highlight');
            }
    }


// if( $this.val() === '' ) {
//             label.removeClass('active highlight'); 
//             } else {
//             label.removeClass('highlight');   
//             }   


//      if($("input").click(function(){
//       label.addClass("active highlight");
//        })
//       else {
//             label.removeClass('highlight');   
//             }   

  $(document).ready(function(){
          $("input:focus").click(function(){
              label.addClass("active highlight");
          });
      });
  });

$('.tab a').on('click', function (e) {
  
  e.preventDefault();
  
  $(this).parent().addClass('active');
  $(this).parent().siblings().removeClass('active');
  
  target = $(this).attr('href');

  $('.tab-content > div').not(target).hide();
  
  $(target).fadeIn(600);
  
});
    </script>

    <script type="text/javascript">
      
    </script>


    <script>
        
   $('.counter').counterUp({
            delay: 100,
            time: 2000
        });
    </script>

  

</body>

</html>
   <script>
    var postApp = angular.module('postApp', []);
     postApp.directive('validPasswordC', function () {
        return {
            require: 'ngModel',
            scope: {
                reference: '=validPasswordC'

            },
            link: function (scope, elm, attrs, ctrl) {
                ctrl.$parsers.unshift(function (viewValue, $scope) {

                    var noMatch = viewValue != scope.reference
                    ctrl.$setValidity('noMatch', !noMatch);
                    return (noMatch) ? noMatch : scope.reference;
                });
                scope.$watch("reference", function (value) {

                    ctrl.$setValidity('noMatch', value === ctrl.$viewValue);
                });
            }
        }
    });
    postApp.controller('postController', function ($scope, $http) {
        $scope.submitForm = function () {
            if ($scope.registerform.$valid) {
              console.log('if');
                $http({
                    method: 'POST',
//                    dataType: 'json',
                    url: '/user',
                    data: $scope.student, //forms user object
                    headers: {'Content-Type': 'application/json'}
                }).success(function (data) {
                    console.log(data);
                    window.location = '/thankyou';
                });

            }else{
              console.log('asdasd');
            }

        };
    });

</script>

<!-- <div class="form-group col-md-6">
      <label for="student_firstname">First name:</label>
      <input type="text" class="form-control" id="student_firstname" name="student_firstname">
    </div>
    <div class="form-group col-md-6">
      <label for="student_lastname">Last name:</label>
      <input type="text" class="form-control" id="student_lastname" name="student_lastname">
    </div>
    <div class="form-group col-md-6">
      <label for="student_contactno">Contact number:</label>
      <input type="text" class="form-control" id="student_contactno" name="student_contactno">
    </div>
    <div class="form-group col-md-6">
      <label for="student_email">Email:</label>
      <input type="email" class="form-control" id="student_email" name="student_email">
    </div>
    
    <div class="form-group col-md-6">
      <label for="student_password">Password:</label>
      <input type="password" class="form-control" id="student_password" name="student_password">
    </div>
    
    <div class="form-group col-md-6">
      
    </div>
    <input type="hidden" name="_csrf" value="<% _csrf%>" />
    <button type="submit" class="btn btn-default text-center">Submit</button>
    
  </form> -->