<?php include('admin_head.php') ?>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
  
<style>
*{
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
.float-right{
  float: right;
}
.fa{
 font-size: .8em;
  line-height: 22px !important;
}
dropdown{
   display: inline-block;
   margin: 20px 50px; 
}
dropdown label, dropdown ul li{
  display: block;
  width: 200px;
  background: #ECF0F1;
  padding: 15px 20px;
}
dropdown label:hover, dropdown ul li:hover{
  background: #1ABC9C;
  color: white;
  cursor: pointer;
}
dropdown label{
  color: #1ABC9C;
  border-left: 4px solid #1ABC9C;
  border-radius: 0 5px 0 0; 
  position: relative;
  z-index: 2;
}
dropdown input{
  display: none;
}
dropdown input ~ ul{
  position: relative;
  visibility: hidden;
  opacity: 0;
  top: -20px;
  z-index: 1;
}
dropdown input:checked + label{
  background: #1ABC9C;
  color: white;
}

dropdown input:checked ~ ul{
  visibility: visible;
  opacity: 1;
  top: 0;
}
$colors: #E74C3C, #0072B5, #2C3E50;

@for $i from 1 through length($colors) {
  dropdown ul li:nth-child(#{$i}) {
    border-left: 4px solid nth($colors, $i);
    .fa{
      color: nth($colors, $i);
    }
    &:hover {
        background: nth($colors, $i);
        color: white;
      .fa{
        color: white; 
      }
    }
  }
}
.indicate{
  margin-top:-82px !important;
  margin-left: 0px !important;
  color:#000;
}
.animate{
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;  
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
}
#circler {
  margin: 20px;
  width: 100px;
  height: 100px;
  position: relative;
}
.inner h6{
  color:#000;
  font-size: 14px;
}
.pn{
  height:191px;
}
.white-header{
  color:#000 !important;
}
</style>
  <link href="index_files/assetbox/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="index_files/assetbox/css/font-awesome.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="index_files/assetbox/css/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
 <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <p class="centered"><a href="profile.html"><img src="index_files/stdash/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
                  <h5 class="centered">Super Admin</h5>
                    
                  <li class="mt">
                      <a  href="admin_dashboard">
                          <i class="fa fa-tachometer" aria-hidden="true"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                   <li class="sub-menu">
                      <a  href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>Homepage Elements</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="about_admin">About us</a></li>
                          <li><a  href="terms">Terms & conditions</a></li>
                          <li><a  href="faq">FAQ</a></li>
                      </ul>
                  </li>

                   <li class="sub-menu">
                      <a class="active" href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>Student Management</span>
                      </a>
                     <ul class="sub">
                          <li><a  href="allstudents">All students</a></li>
                          <li><a  href="activestu">Active students</a></li>
                          <li><a  href="pending">Pending students</a></li>
                          <li><a  href="inactive">Inactive students</a></li>
                      </ul>
                  </li>

                

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>


  <section id="main-content">
          <section class="wrapper">

                 
                    <div class="row">
                    <h1 class="phead" style="float:left;padding-left:30px">All Profiles</h1>
                   


</div><br><br>
<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                           Students List
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer"><div class="row"><div class="col-sm-6"><div class="dataTables_length" id="dataTables-example_length"><label>Show <select name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-6"><div id="dataTables-example_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="dataTables-example"></label></div></div></div><div class="row"><div class="col-sm-12"><table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                                    <thead>
                                        <tr role="row"><th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 160px;">Last Name</th><th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 195px;">First Name</th><th class="sorting_desc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 178px;" aria-sort="descending">Year Level</th><th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 139px;">Status</th><th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 103px;">School</th></tr>
                                    </thead>
                                    <tbody>
                                        
    
                                    <tr class="gradeC odd" role="row">
                                            <td class="">Misc</td>
                                            <td>IE Mobile</td>
                                            <td class="sorting_1">Windows Mobile 6</td>
                                            <td class="center">-</td>
                                            <td class="center">C</td>
                                        </tr><tr class="gradeA even" role="row">
                                            <td class="">Trident</td>
                                            <td>Internet Explorer 7</td>
                                            <td class="sorting_1">Win XP SP2+</td>
                                            <td class="center">7</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA odd" role="row">
                                            <td class="">Trident</td>
                                            <td>AOL browser (AOL desktop)</td>
                                            <td class="sorting_1">Win XP</td>
                                            <td class="center">6</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA even" role="row">
                                            <td class="">Gecko</td>
                                            <td>Netscape Browser 8</td>
                                            <td class="sorting_1">Win 98SE+</td>
                                            <td class="center">1.7</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA odd" role="row">
                                            <td class="">Gecko</td>
                                            <td>Firefox 1.0</td>
                                            <td class="sorting_1">Win 98+ / OSX.2+</td>
                                            <td class="center">1.7</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA even" role="row">
                                            <td class="">Gecko</td>
                                            <td>Firefox 1.5</td>
                                            <td class="sorting_1">Win 98+ / OSX.2+</td>
                                            <td class="center">1.8</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA odd" role="row">
                                            <td class="">Gecko</td>
                                            <td>Firefox 2.0</td>
                                            <td class="sorting_1">Win 98+ / OSX.2+</td>
                                            <td class="center">1.8</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA even" role="row">
                                            <td class="">Gecko</td>
                                            <td>Netscape Navigator 9</td>
                                            <td class="sorting_1">Win 98+ / OSX.2+</td>
                                            <td class="center">1.8</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA odd" role="row">
                                            <td class="">Gecko</td>
                                            <td>Seamonkey 1.1</td>
                                            <td class="sorting_1">Win 98+ / OSX.2+</td>
                                            <td class="center">1.8</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA even" role="row">
                                            <td class="">Gecko</td>
                                            <td>Mozilla 1.7</td>
                                            <td class="sorting_1">Win 98+ / OSX.1+</td>
                                            <td class="center">1.7</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA odd" role="row">
                                            <td class="">Gecko</td>
                                            <td>Mozilla 1.8</td>
                                            <td class="sorting_1">Win 98+ / OSX.1+</td>
                                            <td class="center">1.8</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA even" role="row">
                                            <td class="">Trident</td>
                                            <td>Internet Explorer 6</td>
                                            <td class="sorting_1">Win 98+</td>
                                            <td class="center">6</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA odd" role="row">
                                            <td class="">Presto</td>
                                            <td>Opera 9.0</td>
                                            <td class="sorting_1">Win 95+ / OSX.3+</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA even" role="row">
                                            <td class="">Presto</td>
                                            <td>Opera 7.5</td>
                                            <td class="sorting_1">Win 95+ / OSX.2+</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA odd" role="row">
                                            <td class="">Presto</td>
                                            <td>Opera 8.0</td>
                                            <td class="sorting_1">Win 95+ / OSX.2+</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA even" role="row">
                                            <td class="">Presto</td>
                                            <td>Opera 8.5</td>
                                            <td class="sorting_1">Win 95+ / OSX.2+</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA odd" role="row">
                                            <td class="">Presto</td>
                                            <td>Opera 7.0</td>
                                            <td class="sorting_1">Win 95+ / OSX.1+</td>
                                            <td class="center">-</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA even" role="row">
                                            <td class="">Gecko</td>
                                            <td>Mozilla 1.0</td>
                                            <td class="sorting_1">Win 95+ / OSX.1+</td>
                                            <td class="center">1</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA odd" role="row">
                                            <td class="">Gecko</td>
                                            <td>Mozilla 1.1</td>
                                            <td class="sorting_1">Win 95+ / OSX.1+</td>
                                            <td class="center">1.1</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA even" role="row">
                                            <td class="">Gecko</td>
                                            <td>Mozilla 1.2</td>
                                            <td class="sorting_1">Win 95+ / OSX.1+</td>
                                            <td class="center">1.2</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA odd" role="row">
                                            <td class="">Gecko</td>
                                            <td>Mozilla 1.3</td>
                                            <td class="sorting_1">Win 95+ / OSX.1+</td>
                                            <td class="center">1.3</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA even" role="row">
                                            <td class="">Gecko</td>
                                            <td>Mozilla 1.4</td>
                                            <td class="sorting_1">Win 95+ / OSX.1+</td>
                                            <td class="center">1.4</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA odd" role="row">
                                            <td class="">Gecko</td>
                                            <td>Mozilla 1.5</td>
                                            <td class="sorting_1">Win 95+ / OSX.1+</td>
                                            <td class="center">1.5</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA even" role="row">
                                            <td class="">Gecko</td>
                                            <td>Mozilla 1.6</td>
                                            <td class="sorting_1">Win 95+ / OSX.1+</td>
                                            <td class="center">1.6</td>
                                            <td class="center">A</td>
                                        </tr><tr class="gradeA odd" role="row">
                                            <td class="">Gecko</td>
                                            <td>Netscape 7.2</td>
                                            <td class="sorting_1">Win 95+ / Mac OS 8.6-9.2</td>
                                            <td class="center">1.7</td>
                                            <td class="center">A</td>
                                        </tr></tbody>
                                </table></div></div><div class="row"><div class="col-sm-6"><div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">Showing 1 to 25 of 57 entries</div></div><div class="col-sm-6"><div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate"><ul class="pagination"><li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous"><a href="#">Previous</a></li><li class="paginate_button active" aria-controls="dataTables-example" tabindex="0"><a href="#">1</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">2</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">3</a></li><li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next"><a href="#">Next</a></li></ul></div></div></div></div>
                            </div>
                            <!-- /.table-responsive -->
                           
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

          </section>
      </section>


      <!-- BOOTSTRAP SCRIPTS -->



    <script src="index_files/assetbox/js/bootstrap.min.js"></script>


      <!-- CUSTOM SCRIPTS -->
    <script src="index_files/assetbox/js/custom.js"></script>
     
    <script type="text/javascript">
    $(function(){
        $("#bluecircle").percircle();
    });
</script>
                  <?php include('stufoot.php') ?>
                  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

    <script>
    $(document).ready(function(){
    $('#my-table').dynatable();
    });
});
    </script>
