<?php include('header.php') ?>
        <!-- Start main-content -->


  

        
       
        </div>
        <!-- end .rev_slider_wrapper -->

        <!-- Slider Revolution Ends -->

        </div>
        </section>
       
        <div class="jumbotron" id="jumbo">
<div class="container">
    <div class="wow fadeInUp animated">
        <center><h1 id="shademain" style="color:#000;padding-top:22%;">HAPPY <br>BEGINNING !</h1></center>
           </div></div></div>
 <div class="container">
        <!-- Section: Features -->
<center>

         <section id="cent" class="bg-lighter" data-wow-duration="0.8s" data-delay="2.0s" style="margin-top:-130px;background-color:#fff">
             <div class="container" style="padding-top:60px;padding-right:44px">
                <div class="type_base">
                    <div class="col-md-3 ">
                        <a href="#"> <img src="index_files/adduser.png" width="50">
                            <h4>Create account</h4>
                        </a>
                        <p>To take a trivial example, which of us ever undertakes laborious physical exercise.</p>
                    </div>
                    <div class="col-md-3 ">
                        <a href="#"> <img src="index_files/profile.png" width="50">
                            <h4>Setup Profile</h4>
                        </a>
                        <p>To take a trivial example, which of us ever undertakes laborious physical exercise.</p>
                    </div>
                    <div class="col-md-3 ">
                        <a href="#"> <img src="index_files/books.png" width="50">
                            <h4>Share Profile</h4>
                        </a>
                        <p>To take a trivial example, which of us ever undertakes laborious physical exercise.</p>
                    </div>
                    <div class="col-md-3 ">
                        <a href="#"> <img src="index_files/phone.png" width="50">
                            <h4>Get Funded</h4>
                        </a>
                        <p>To take a trivial example, which of us ever undertakes laborious physical exercise.</p>
                    </div>
                </div>
            </div>
<div class="row">
               <div>
  
  
                            <div class="input-group col-md-10">
                                <input type="text" class="  search-query form-control" placeholder="Find a student" />
                                <span class="input-group-btn">
                                    <button class="btn btn-dark btn-theme-colored" type="button" style="line-height:2.05 !important;">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div><br>

  
  <p ><b><input type="checkbox" checked> Birthday Today</b></p>
      

                        </div>
                </div>
            </div>
        </section>
</center>
<section style="padding-top:60px;padding-bottom:50px">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
        <!-- Section: Featured Projects  -->
       <div class="col-md-8">

                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe width="560" height="315" src="https://www.youtube.com/embed/lK9cCtf_rBo" frameborder="0" allowfullscreen></iframe>

                        </div>
</div>

                        <div class="col-md-2">
            </div>

            </div>
        </div>
    </div>
</section>
        <section>
            <div class="container">
                <div class="section-title">
                    <div class="row">
                        <div class="col-md-6">
                           
                            <h2 class="mt-0 text-uppercase font-28">Today's <span class="text-theme-colored font-weight-400">Birthdays</span> </h2>
                            
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="owl-carousel-3col owl-carousel owl-theme owl-loaded" data-dots="true">





                                <div class="item">
                                    <div style="width: 370px; margin-right: 15px;" class="owl-item cloned">
                                        <div class="item mb-10">
                                            <div class="image-box-thum">
                                                <img class="img-fullwidth" alt="" src="index_files/3_004.jpg" width="250" height="230">
                                            </div>
                                            <div class="image-box-details bg-lighter p-15 pt-20 pb-sm-20">
                                                <h3 class="title mt-0 mb-5"><a href="#">Help Carol pay her loans</a></h3>
                                                <!--div class="project-meta mb-10 font-12">
                                                    <span class="mr-10"><i class="fa fa-tags"></i> <a rel="tag" href="#">Food</a></span>
                                                    <span class="mr-10"><i class="fa fa-tags"></i> <a rel="tag" href="#">Education</a></span>
                                                    <span class="mr-10"><i class="fa fa-tags"></i> <a rel="tag" href="#">Home</a></span>
                                                </div-->
                                                <p class="desc mb-10">Lorem ipsum dolor sit ametcon secte adipisicing elit Sintume likumta.</p>
                                                <div class="progress-item mt-0">
                                                    <div class="progress mb-10">
                                                        <div data-percent="85" class="progress-bar"><span class="percent">0</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <ul class="list-inline project-conditions text-center bg-deep m-0 p-10">
                                        <li class="current-fund"><strong>$7000</strong>total</li>
                                        <li class="target-fund"><strong>$1250</strong>collected</li>
                                        <li>  <input type="image" src="index_files/donatemain.png" alt="Submit" width="104" height="34"></li>
                                    </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item grey">
                                    <div style="width: 370px; margin-right: 15px;" class="owl-item cloned">
                                        <div class="item mb-10">
                                            <div class="image-box-thum">
                                                <img class="img-fullwidth" alt="" src="index_files/feature1.jpg" width="250" height="230">
                                            </div>
                                            <div class="image-box-details bg-lighter p-15 pt-20 pb-sm-20">
                                                <h3 class="title mt-0 mb-5"><a href="#">Help Carol pay her loans</a></h3>
                                                
                                                <p class="desc mb-10">Lorem ipsum dolor sit ametcon secte adipisicing elit Sintume likumta.</p>
                                                <div class="progress-item mt-0">
                                                    <div class="progress mb-10">
                                                        <div data-percent="85" class="progress-bar"><span class="percent">0</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <ul class="list-inline project-conditions text-center bg-deep m-0 p-10">
                                        <li class="current-fund"><strong>$7000</strong>total</li>
                                        <li class="target-fund"><strong>$1250</strong>collected</li>
                                        <li>  <input type="image" src="index_files/donatemain.png" alt="Submit" width="104" height="34"></li>
                                    </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item grey">
                                    <div style="width: 370px; margin-right: 15px;" class="owl-item cloned">
                                        <div class="item mb-10">
                                            <div class="image-box-thum">
                                                <img class="img-fullwidth" alt="" src="index_files/feature2.jpg" width="250" height="230">
                                            </div>
                                            <div class="image-box-details bg-lighter p-15 pt-20 pb-sm-20">
                                                <h3 class="title mt-0 mb-5"><a href="#">Help Carol pay her loans</a></h3>
                                               
                                                <p class="desc mb-10">Lorem ipsum dolor sit ametcon secte adipisicing elit Sintume likumta.</p>
                                                <div class="progress-item mt-0">
                                                    <div class="progress mb-10">
                                                        <div data-percent="85" class="progress-bar"><span class="percent">0</span>
                                                        </div>
                                                    </div>
                                                </div>
                                               <ul class="list-inline project-conditions text-center bg-deep m-0 p-10">
                                        <li class="current-fund"><strong>$7000</strong>total</li>
                                        <li class="target-fund"><strong>$1250</strong>collected</li>
                                        <li>  <input type="image" src="index_files/donatemain.png" alt="Submit" width="104" height="34"></li>
                                    </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item grey">
                                    <div style="width: 370px; margin-right: 15px;" class="owl-item cloned">
                                        <div class="item mb-10">
                                            <div class="image-box-thum">
                                                <img class="img-fullwidth" alt="" src="index_files/feature3.jpg" width="250" height="230">
                                            </div>
                                            <div class="image-box-details bg-lighter p-15 pt-20 pb-sm-20">
                                                <h3 class="title mt-0 mb-5"><a href="#">Help Carol pay her loans</a></h3>
                                                
                                                <p class="desc mb-10">Lorem ipsum dolor sit ametcon secte adipisicing elit Sintume likumta.</p>
                                                <div class="progress-item mt-0">
                                                    <div class="progress mb-10">
                                                        <div data-percent="85" class="progress-bar"><span class="percent">0</span>
                                                        </div>
                                                    </div>
                                                </div>
                                               <ul class="list-inline project-conditions text-center bg-deep m-0 p-10">
                                        <li class="current-fund"><strong>$7000</strong>total</li>
                                        <li class="target-fund"><strong>$1250</strong>collected</li>
                                        <li>  <input type="image" src="index_files/donatemain.png" alt="Submit" width="104" height="34"></li>
                                    </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item grey">
                                    <div style="width: 370px; margin-right: 15px;" class="owl-item cloned">
                                        <div class="item mb-10">
                                            <div class="image-box-thum">
                                                <img class="img-fullwidth" alt="" src="index_files/feature6.jpg" width="250" height="230">
                                            </div>
                                            <div class="image-box-details bg-lighter p-15 pt-20 pb-sm-20">
                                                <h3 class="title mt-0 mb-5"><a href="#">Help Carol pay her loans</a></h3>
                                                
                                                <p class="desc mb-10">Lorem ipsum dolor sit ametcon secte adipisicing elit Sintume likumta.</p>
                                                <div class="progress-item mt-0">
                                                    <div class="progress mb-10">
                                                        <div data-percent="85" class="progress-bar"><span class="percent">0</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <ul class="list-inline project-conditions text-center bg-deep m-0 p-10">
                                        <li class="current-fund"><strong>$7000</strong>total</li>
                                        <li class="target-fund"><strong>$1250</strong>collected</li>
                                        <li>  <input type="image" src="index_files/donatemain.png" alt="Submit" width="104" height="34"></li>
                                    </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item grey">
                                    <div style="width: 370px; margin-right: 15px;" class="owl-item cloned">
                                        <div class="item mb-10">
                                            <div class="image-box-thum">
                                                <img class="img-fullwidth" alt="" src="index_files/feature1.jpg" width="250" height="230">
                                            </div>
                                            <div class="image-box-details bg-lighter p-15 pt-20 pb-sm-20">
                                                <h3 class="title mt-0 mb-5"><a href="#">Help Carol pay her loans</a></h3>
                                                
                                                <p class="desc mb-10">Lorem ipsum dolor sit ametcon secte adipisicing elit Sintume likumta.</p>
                                                <div class="progress-item mt-0">
                                                    <div class="progress mb-10">
                                                        <div data-percent="85" class="progress-bar"><span class="percent">0</span>
                                                        </div>
                                                    </div>
                                                </div>
                                               <ul class="list-inline project-conditions text-center bg-deep m-0 p-10">
                                        <li class="current-fund"><strong>$7000</strong>total</li>
                                        <li class="target-fund"><strong>$1250</strong>collected</li>
                                        <li>  <input type="image" src="index_files/donatemain.png" alt="Submit" width="104" height="34"></li>
                                    </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-controls">
                            <div class="owl-nav">
                                <div style="display: none;" class="owl-prev"><i class="fa fa-angle-left"></i>
                                </div>
                                <div style="display: none;" class="owl-next"><i class="fa fa-angle-right"></i>
                                </div>
                            </div>
                            <div class="owl-dots" style="">
                                <div class="owl-dot"><span></span>
                                </div>
                                <div class="owl-dot active"><span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </section>

    <!--section style="background-image: url(&quot;index_files/bg3.jpg&quot;); background-position: 50% 141px;" class="divider parallax layer-overlay overlay-white-8" data-bg-img="index_files/bg3.jpg" data-parallax-ratio="0.7">
      <div class="container pt-90 pb-90">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-3">
            <div class="funfact">
              <i class="pe-7s-rocket text-black-light mt-20 font-48 pull-left flip"></i>
              
                <h2 class="wow fadeInUp animated text-theme-colored mt-0 font-48 line-bottom appeared" data-value="125" data-animation-duration="2500"><i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>
 125</h2>
                <div class="clearfix"></div>
                <h4 class="font-14">Success Mission</h4>
              
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3">
            <div class="funfact">
              <i class="pe-7s-rocket text-black-light mt-20 font-48 pull-left flip"></i>
              
                <h2 class="wow fadeInUp animated text-theme-colored mt-0 font-48 line-bottom appeared" data-value="125" data-animation-duration="2500"><i class="fa fa-rocket" aria-hidden="true"></i>
 125</h2>
                <div class="clearfix"></div>
                <h4 class="font-14">Success Mission</h4>
              
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3">
            <div class="funfact">
              <i class="pe-7s-add-user text-black-light mt-20 font-48 pull-left flip"></i>
              
                <h2 class="wow fadeInUp animated text-theme-colored mt-0 font-48 line-bottom appeared" data-value="150" data-animation-duration="3000"><i class="fa fa-users" aria-hidden="true"></i>
 150</h2>
                <div class="clearfix"></div>
                <h4 class="font-14">Volunteer Reached</h4>
              
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3">
            <div class="funfact">
              <i class="pe-7s-global text-black-light mt-20 font-48 pull-left flip"></i>
              
                <h2 class="wow fadeInUp animated text-theme-colored mt-0 font-48 line-bottom appeared" data-value="55" data-animation-duration="3500"><i class="fa fa-globe" aria-hidden="true"></i>
 55</h2>
                <div class="clearfix"></div>
                <h4 class="font-14">Globalization Work</h4>
              </div>
            
          </div>
        </div>
      </div>
    </section-->
    <!-- Divider: Funfact -->
<br>

    <!-- Section: Latest Projects  -->
    <section>
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-6">
                      
                        <h2 class="mt-0 text-uppercase font-28">Recent <span class="text-theme-colored font-weight-400"> profiles</span> <span class="font-30 text-theme-colored"></span></h2>

                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                     <div class="col-md-4 col-sm-6 col-xs-12">
                        <div  class="owl-item cloned">
                            <div class="item mb-10">
                                <div class="image-box-thum">
                                    <img class="img-fullwidth" alt="" src="index_files/feature3.jpg" width="250" height="230">
                                </div>
                                <div class="image-box-details bg-lighter p-15 pt-20 pb-sm-20">
                                    <h3 class="title mt-0 mb-5"><a href="#">Support manisha in completing her education</a></h3>
                                    
                                    <p class="desc mb-10">Lorem ipsum dolor sit ametcon secte adipisicing elit Sintume likumta.</p>
                                    <div class="progress-item mt-0">
                                        <div class="progress mb-10">
                                            <div data-percent="85" class="progress-bar"><span class="percent">0</span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="list-inline project-conditions text-center bg-deep m-0 p-10">
                                        <li class="current-fund"><strong>$7000</strong>total</li>
                                        <li class="target-fund"><strong>$1250</strong>collected</li>
                                      <li>  <input type="image" src="index_files/donatemain.png" alt="Submit" width="104" height="34"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="col-md-4 col-sm-6 col-xs-12">
                        <div  class="owl-item cloned">
                            <div class="item mb-10">
                                <div class="image-box-thum">
                                    <img class="img-fullwidth" alt="" src="index_files/feature3.jpg" width="250" height="230">
                                </div>
                                <div class="image-box-details bg-lighter p-15 pt-20 pb-sm-20">
                                    <h3 class="title mt-0 mb-5"><a href="#">Support manisha in completing her education</a></h3>
                                    
                                    <p class="desc mb-10">Lorem ipsum dolor sit ametcon secte adipisicing elit Sintume likumta.</p>
                                    <div class="progress-item mt-0">
                                        <div class="progress mb-10">
                                            <div data-percent="85" class="progress-bar"><span class="percent">0</span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="list-inline project-conditions text-center bg-deep m-0 p-10">
                                        <li class="current-fund"><strong>$7000</strong>total</li>
                                        <li class="target-fund"><strong>$1250</strong>collected</li>
<li>  <input type="image" src="index_files/donatemain.png" alt="Submit" width="104" height="34"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="col-md-4 col-sm-6 col-xs-12">
                        <div  class="owl-item cloned">
                            <div class="item mb-10">
                                <div class="image-box-thum">
                                    <img class="img-fullwidth" alt="" src="index_files/feature3.jpg" width="250" height="230">
                                </div>
                                <div class="image-box-details bg-lighter p-15 pt-20 pb-sm-20">
                                    <h3 class="title mt-0 mb-5"><a href="#">Support manisha in completing her education</a></h3>
                                    
                                    <p class="desc mb-10">Lorem ipsum dolor sit ametcon secte adipisicing elit Sintume likumta.</p>
                                    <div class="progress-item mt-0">
                                        <div class="progress mb-10">
                                            <div data-percent="85" class="progress-bar"><span class="percent">0</span>
                                            </div>
                                        </div>
                                    </div>
                                   <ul class="list-inline project-conditions text-center bg-deep m-0 p-10">
                                        <li class="current-fund"><strong>$7000</strong>total</li>
                                        <li class="target-fund"><strong>$1250</strong>collected</li>
                                      <li>  <input type="image" src="index_files/donatemain.png" alt="Submit" width="104" height="34"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="col-md-4 col-sm-6 col-xs-12">
                        <div  class="owl-item cloned">
                            <div class="item mb-10">
                                <div class="image-box-thum">
                                    <img class="img-fullwidth" alt="" src="index_files/feature3.jpg" width="250" height="230">
                                </div>
                                <div class="image-box-details bg-lighter p-15 pt-20 pb-sm-20">
                                    <h3 class="title mt-0 mb-5"><a href="#">Support manisha in completing her education</a></h3>
                                    
                                    <p class="desc mb-10">Lorem ipsum dolor sit ametcon secte adipisicing elit Sintume likumta.</p>
                                    <div class="progress-item mt-0">
                                        <div class="progress mb-10">
                                            <div data-percent="85" class="progress-bar"><span class="percent">0</span>
                                            </div>
                                        </div>
                                    </div>
                                   <ul class="list-inline project-conditions text-center bg-deep m-0 p-10">
                                        <li class="current-fund"><strong>$7000</strong>total</li>
                                        <li class="target-fund"><strong>$1250</strong>collected</li>
                                        <li>  <input type="image" src="index_files/donatemain.png" alt="Submit" width="104" height="34"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4 col-sm-6 col-xs-12">
                        <div  class="owl-item cloned">
                            <div class="item mb-10">
                                <div class="image-box-thum">
                                    <img class="img-fullwidth" alt="" src="index_files/feature3.jpg" width="250" height="230">
                                </div>
                                <div class="image-box-details bg-lighter p-15 pt-20 pb-sm-20">
                                    <h3 class="title mt-0 mb-5"><a href="#">Support manisha in completing her education</a></h3>
                                    
                                    <p class="desc mb-10">Lorem ipsum dolor sit ametcon secte adipisicing elit Sintume likumta.</p>
                                    <div class="progress-item mt-0">
                                        <div class="progress mb-10">
                                            <div data-percent="85" class="progress-bar"><span class="percent">0</span>
                                            </div>
                                        </div>
                                    </div>
                                   <ul class="list-inline project-conditions text-center bg-deep m-0 p-10">
                                        <li class="current-fund"><strong>$7000</strong>total</li>
                                        <li class="target-fund"><strong>$1250</strong>collected</li>
                                       <li>  <input type="image" src="index_files/donatemain.png" alt="Submit" width="104" height="34"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4 col-sm-6 col-xs-12">
                        <div  class="owl-item cloned">
                            <div class="item mb-10">
                                <div class="image-box-thum">
                                    <img class="img-fullwidth" alt="" src="index_files/feature3.jpg" width="250" height="230">
                                </div>
                                <div class="image-box-details bg-lighter p-15 pt-20 pb-sm-20">
                                    <h3 class="title mt-0 mb-5"><a href="#">Support manisha in completing her education</a></h3>
                                    
                                    <p class="desc mb-10">Lorem ipsum dolor sit ametcon secte adipisicing elit Sintume likumta.</p>
                                    <div class="progress-item mt-0">
                                        <div class="progress mb-10">
                                            <div data-percent="85" class="progress-bar"><span class="percent">0</span>
                                            </div>
                                        </div>
                                    </div>
                                   <ul class="list-inline project-conditions text-center bg-deep m-0 p-10">
                                        <li class="current-fund"><strong>$7000</strong>total</li>
                                        <li class="target-fund"><strong>$1250</strong>collected</li>
                                        <li>  <input type="image" src="index_files/donatemain.png" alt="Submit" width="104" height="34"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4 col-sm-6 col-xs-12">
                        <div  class="owl-item cloned">
                            <div class="item mb-10">
                                <div class="image-box-thum">
                                    <img class="img-fullwidth" alt="" src="index_files/feature3.jpg" width="250" height="230">
                                </div>
                                <div class="image-box-details bg-lighter p-15 pt-20 pb-sm-20">
                                    <h3 class="title mt-0 mb-5"><a href="#">Support manisha in completing her education</a></h3>
                                    
                                    <p class="desc mb-10">Lorem ipsum dolor sit ametcon secte adipisicing elit Sintume likumta.</p>
                                    <div class="progress-item mt-0">
                                        <div class="progress mb-10">
                                            <div data-percent="85" class="progress-bar"><span class="percent">0</span>
                                            </div>
                                        </div>
                                    </div>
                                   <ul class="list-inline project-conditions text-center bg-deep m-0 p-10">
                                        <li class="current-fund"><strong>$7000</strong>total</li>
                                        <li class="target-fund"><strong>$1250</strong>collected</li>
                                        <li>  <input type="image" src="index_files/donatemain.png" alt="Submit" width="104" height="34"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                   <div class="col-md-4 col-sm-6 col-xs-12">
                        <div  class="owl-item cloned">
                            <div class="item mb-10">
                                <div class="image-box-thum">
                                    <img class="img-fullwidth" alt="" src="index_files/feature3.jpg" width="250" height="230">
                                </div>
                                <div class="image-box-details bg-lighter p-15 pt-20 pb-sm-20">
                                    <h3 class="title mt-0 mb-5"><a href="#">Support manisha in completing her education</a></h3>
                                    
                                    <p class="desc mb-10">Lorem ipsum dolor sit ametcon secte adipisicing elit Sintume likumta.</p>
                                    <div class="progress-item mt-0">
                                        <div class="progress mb-10">
                                            <div data-percent="85" class="progress-bar"><span class="percent">0</span>
                                            </div>
                                        </div>
                                    </div>
                                   <ul class="list-inline project-conditions text-center bg-deep m-0 p-10">
                                        <li class="current-fund"><strong>$7000</strong>total</li>
                                        <li class="target-fund"><strong>$1250</strong>collected</li>
                                        <li>  <input type="image" src="index_files/donatemain.png" alt="Submit" width="104" height="34"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4 col-sm-6 col-xs-12">
                        <div  class="owl-item cloned">
                            <div class="item mb-10">
                                <div class="image-box-thum">
                                    <img class="img-fullwidth" alt="" src="index_files/feature3.jpg" width="250" height="230">
                                </div>
                                <div class="image-box-details bg-lighter p-15 pt-20 pb-sm-20">
                                    <h3 class="title mt-0 mb-5"><a href="#">Support manisha in completing her education</a></h3>
                                    
                                    <p class="desc mb-10">Lorem ipsum dolor sit ametcon secte adipisicing elit Sintume likumta.</p>
                                    <div class="progress-item mt-0">
                                        <div class="progress mb-10">
                                            <div data-percent="85" class="progress-bar"><span class="percent">0</span>
                                            </div>
                                        </div>
                                    </div>
                                   <ul class="list-inline project-conditions text-center bg-deep m-0 p-10">
                                        <li class="current-fund"><strong>$7000</strong>total</li>
                                        <li class="target-fund"><strong>$1250</strong>collected</li>
                                        <li>  <input type="image" src="index_files/donatemain.png" alt="Submit" width="104" height="34"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text-center">
                            <a class="btn btn-default btn-lg" href="#">Show More Projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Divider: testimonials -->

    <!-- Section: blog -->


    <!-- Section: Clients -->

    </div>
    <!-- end main-content -->

    <!-- Footer -->
    <?php include('footer.php') ?>
   

