<!DOCTYPE html>
<html class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths no-mobile" style="" dir="ltr" lang="en"><head>

<!-- Meta Tags -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="description" content="CharityPress - Nonprofit, Crowdfunding &amp; Charity HTML5 Template">
<meta name="keywords" content="building,business,construction,cleaning,transport,workshop">
<meta name="author" content="ThemeMascot">

<!-- Page Title -->
<title>Stumuch</title>

<!-- Favicon and Touch Icons -->


<!-- Stylesheet -->
<link rel="stylesheet" type="text/css" href="slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
<link href="index_files/bootstrap.css" rel="stylesheet" type="text/css">
<link href="index_files/jquery-ui.css" rel="stylesheet" type="text/css">
<link href="index_files/animate.css" rel="stylesheet" type="text/css">
<link href="index_files/css-plugin-collections.css" rel="stylesheet">
<!-- CSS | menuzord megamenu skins -->
<link id="menuzord-menu-skins" href="index_files/menuzord-boxed.css" rel="stylesheet">
<!-- CSS | Main style file -->
<link href="index_files/style-main.css" rel="stylesheet" type="text/css">
<!-- CSS | Preloader Styles -->
<link href="index_files/preloader.css" rel="stylesheet" type="text/css">
<!-- CSS | Custom Margin Padding Collection -->
<link href="index_files/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
<!-- CSS | Responsive media queries -->
<link href="index_files/responsive.css" rel="stylesheet" type="text/css">
<!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
<!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

<!-- Revolution Slider 5.x CSS settings -->
<link href="index_files/settings.css" rel="stylesheet" type="text/css">
<link href="index_files/layers.css" rel="stylesheet" type="text/css">
<link href="index_files/navigation.css" rel="stylesheet" type="text/css">

<!-- CSS | Theme Color -->
<link href="index_files/theme-skin-blue-gary.css" rel="stylesheet" type="text/css">

<!-- external javascripts -->
<script src="index_files/jquery-2.js"></script>

<script src="index_files/jquery-ui.js"></script>
<script src="index_files/bootstrap.js"></script>
<!-- JS | jquery plugin collection for this theme -->
<script src="index_files/jquery-plugin-collection.js"></script>

<!-- Revolution Slider 5.x SCRIPTS -->
<script src="index_files/jquery_002.js"></script>
<script src="index_files/jquery.js"></script>
<script async src="//static.addtoany.com/menu/page.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style></head>

 <style type="text/css">
#nbc-searchbox{background:url(http://3.bp.blogspot.com/-DqQKomzx0pw/Ue7BlSCh3zI/AAAAAAAAAiA/U3c87KbsBQc/s1600/noxdo_blogspot_com_Search-icon6.png) no-repeat scroll center center transparent;width:307px;height:50px;disaply:block;}
form#nbc-searchform{display: block;padding: 10px 12px;margin:0;}
form#nbc-searchform #s{padding: 6px;margin:0;width: 235px;font-size:14px;vertical-align: top;border:none;background:transparent;}
form#nbc-searchform #sbutton{margin:0;padding:0;height:30px;width:30px;vertical-align: top;border:none;background:transparent;}
body{
  background-color: #eee;
/*background:rgba(6, 6, 6, 0.27);*/
}
</style>
<body class="">

<div id="wrapper" class="clearfix">
  <!-- preloader -->
  <div style="display: none;" id="preloader">
    <div id="spinner">
      <div class="preloader-dot-loading">
        <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
      </div>
    </div>
    <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
  </div>
  
  <!-- Header -->

  <header id="header" class="header">
    <div class="header-nav navbar-fixed-top header-dark navbar-white ">
      <div class="header-nav-wrapper">
        <div class="container">
          <nav style="" id="menuzord-right" class="menuzord default no-bg menuzord-responsive"><a style="display: none;" href="javascript:void(0)"><em></em><em></em><em></em></a>
            <a href="home"><img src="./index_files/stulogo.png" style="width:186px;padding-top:11px"></a>
           <ul class="menuzord-menu menuzord-right menuzord-indented scrollable">
                               

                                <li style="" ><a href="../allprofile/allprofile">Profiles</a>

                                </li>
                                <li style="" ><a href="../myprofile/myprofile">My Profile</a>

                                </li>
                                <li style=""  class="active"><a href="../stulogin/stulogin">Create account</a>

                                </li>
                                <li style=""><a href="../login/login">Login </a>

                                </li>

                            </ul>
                  </li>
                 
              
            </ul>
          </nav>
        </div>
      </div>
      </div>
    </div>
  </header>
  </div>
<br><br><br><br><br>
<div class="container">
  <!-- Start main-content --> 
  <div class="panel panel-default" >
  <div class="panel-heading" id="bigname1"><h2>Help Carol pay her loans</h2></div>
  <div class="panel-body">
  <div class="col-sm-12">
  <div class="row">
  <div class="col-sm-6">
  <div class="main-content">
    <!-- Section: home -->

    <img src="index_files/feature3.jpg" width="500">
           <hr>
            <input type="image" src="index_files/fbshare.png" alt="Submit" width="172" height="41">
            <input type="image" src="index_files/tshare.png" alt="Submit" width="172" height="40">
            <hr>

           
           
  
  
   <ul class="nav nav-pills">
    <li class="active"><a href="#story" data-toggle="tab">My Story</a></li>
    <li><a href="#education" data-toggle="tab">Education Details</a></li>
    <li><a href="#loan" data-toggle="tab">Loan details</a></li>
    <li><a href="#admin" data-toggle="tab">Admin notes</a></li>
  </ul>
  <div class="tab-content">
   <div class="tab-pane" id="education">
  Eduation details
   </div>
       
    
        <div class="tab-pane  active" id="story">
       
    cljbadlvbdelvjbsadkvb sdavkbsadvk sdavhbsdvl sdvlhsdvl sdvl asdlvasdlv alsdhv lasd vlhsdvl asdlv sdlv ndviasdvl sdv sdvh asldv lasd vasd vhasd vlasd vlas dvi asdv dv alihsdvladbivasdv asdlvh asdvlsdvlsd vv sdlv lsdv lsdvlsd ls dvl sdv lsdhv sdv lhsd vs dvl sdlvh sdlv sldvs dlvhs dlv sldhv sldvls vd
    </div> 
    <div class="tab-pane" id="loan">
       Loan name<br>
       Loan id<br>
       Loan amount    </div> 
       <div class="tab-pane" id="admin">
      ADMIN NOTES
      external notes<br>
      internal notes   </div> 
</div>
 
  <hr>
  <h2>My Ambitions</h2>
   <p> I am not hungry for fame. Rather I think that fame is like a bubble which can burst on anyway. I want to see human beings leading a comfortable life. It is for this very purpose that I want to carry out some research in the domain of medicine. I want to make a special study of the disease concerning heart. 



I think that heart is just a pumping station and can easily be replaced. I think it is my childish curiosity that makes me to belittle the efforts of the scientists. I feel that if one’s heart is strong, one can definitely do a large number of things. </p>
  <h2>My Videos</h2>
   <div class="embed-responsive embed-responsive-16by9">
                            <iframe  src="https://www.youtube.com/embed/-38uPkyH9vI" frameborder="0" allowfullscreen></iframe>
                        </div><br>
                         <div class="embed-responsive embed-responsive-16by9">
                            <iframe  src="https://www.youtube.com/embed/-38uPkyH9vI" frameborder="0" allowfullscreen></iframe>
                        </div>
</div></div>

            
             <div class="col-sm-6">
  <div class="panel panel-default">
  <div class="panel-body">
  <div class="col-md-4">
  <p>Collected</p>
    <h1 style="margin:none !important">$1760</h1>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    <p>Goal</p>
    <h1 style="margin:none !important">$5000</h1>
    </div>
  <br></div>
<div class="progress" style="margin-left:10%;margin-right:10%">
    <div class="progress-bar progress-bar-primary" role="progressbar" style="width:40%;">
      40%
    </div></div>
<br>
  <div class="text-center"><input type="image" src="index_files/donatemain.png" alt="Submit" width="185" height="45"></div>

</div>
<br>

</div>

<div class="panel panel-success" style="max-height:581px;overflow:scroll">
    <div class="panel-heading panel-success">Recent donations</div>
    <div class="panel-body">
    <ul>
    <li>
        <h4>100$ from Samaira khan</h4>
        </li><hr>
        <li>
        <h4>280$ from Chalie james</h4>
        </li>
        <li><hr>
        <h4>200$ from Rohan desai</h4>
        </li>
        <li><hr>
        <h4>111$ from Shravan Das</h4>
        </li>
        <li><hr>
        <h4>222$ from jack sparrow</h4>
        </li>
        <li><hr>
        <h4>330$ from anu malik</h4>
        </li>
        <li><hr>
        <h4>435$ from bla bla</h4>
        </li>
        <li><hr>
        <h4>531$ from dragon x</h4>
        </li>
        <li><hr>
        <h4>131$ from Somesh kaun</h4>
        </li>
        <li><hr>
        <h4>868$ from Brad pitt</h4>
        </li>
        <li><hr>
        <h4>535$ from Rahul vaidya</h4>
        </li>
        <li><hr>
        <h4>453$ from samarth prakash</h4>
        </li>
        <li><hr>
        <h4>535$ from zoya khan</h4>
        </li>
        <li><hr>
        <h4>535$ from zoya khan</h4>
        </li>
        <li><hr>
        <h4>535$ from zoya khan</h4>
        </li>
        <li><hr>
        <h4>535$ from zoya khan</h4>
        </li>
        </ul>
</div>
</div>
<h2>Image Gallary</h2>
<div class="col-md-3">
<img src="index_files/feature3.jpg"><br><br>
</div>
<div class="col-md-3">
<img src="index_files/feature3.jpg"><br><br>
</div><br><br>
<div class="col-md-3">
<img src="index_files/feature3.jpg"><br><br>
</div>
<div class="col-md-3">
<img src="index_files/feature3.jpg"><br><br>
</div><br><br>
<div class="col-md-3">
<img src="index_files/feature3.jpg"><br><br>
</div>
<div class="col-md-3">
<img src="index_files/feature3.jpg"><br><br>
</div>
      </div>
</div>
</div></div>
</div>
<div class="row">
<div class="col-sm-12">

    <!-- Section: Features -->
  
    
  <!-- end main-content -->
  
  <!-- Footer -->
  
 
<!-- end wrapper -->

<!-- Footer Scripts -->
 <!-- Footer --><br><br></div></div></div>
      <footer id="footer" class="footer bg-black-222">
        <div class="container pt-70 pb-30">
            <div class="row border-bottom-black">
               
                 <div class="col-sm-6 col-md-6">
                    <div class="widget dark mb-20">
                        <h5 class="widget-title line-bottom">Quick Contact</h5>
                        <ul class="list-border font-13">
                            <li><a href="#">+(012) 345 6789</a>
                            </li>
                            <li><a href="#">Stumuch@gmail.com</a>
                            </li>
                        </ul>
                    </div>

                    <div class="widget dark">
                
                        <ul class="social-icons icon-dark icon-circled icon-sm mt-10">
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            
                            <li><a href="#"><i class="fa fa-youtube"></i></a>
                            </li>
                           
                            <li><a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="widget dark mb-20">
                        <h5 class="widget-title line-bottom">Links</h5>
                        <ul class="list-border font-13">
                            <li><a href="#">About Us</a>
                            </li>
                            <li><a href="faq1">FAQ</a>
                            </li>
                            <li><a href="#">Terms & Conditions</a>
                            </li>
                            <li><a href="#">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>

               </div>
            </div>
           
        </div>
        <div class="footer-bottom bg-black-333">
            <div class="container pt-20 pb-20">
                <div class="row">
                    <div class="col-md-6 sm-text-center">
                        <p class="font-11 text-black-777 m-0">Copyright ©2016 STUMUCH. All Rights Reserved</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>
<!-- JS | Custom script for all pages -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="index_files/jquery-ui.js"></script>
    <script src="index_files/bootstrap.js"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="index_files/jquery-plugin-collection.js"></script>
<script src="index_files/custom.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
      (Load Extensions only on Local File Systems ! 
       The following part can be removed on Server for On Demand Loading) -->


<script>

    $(document).ready(function() {
     
      $("#owl-demo").owlCarousel({
     
          autoPlay: 3000, //Set AutoPlay to 3 seconds
     
          items : 4,
          itemsDesktop : [1199,3],
          itemsDesktopSmall : [979,3]
     
      });

     
    });

</script>



<!-- Color Switcher Starts | Only for demo purpose and not included in main file -->

<!-- switcher html -->

<!-- Color Switcher Ends-->
<!-- Modal: Bootstrap Parent Modal Starts -->
<div class="modal fade" id="BSParentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
<!-- Modal: Bootstrap Parent Modal Ends --></body></html>