<%- include ../stuhead.ejs %>

 <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <p class="centered"><a href="profile.html"><img src="../../index_files/stdash/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
                  <h5 class="centered">Sandra Rayman</h5>
                    
                <li class="mt">
                      <a class="active" href="dashboard">
                          <i class="fa fa-tachometer" aria-hidden="true"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="../personal_view/personal_view" >
                          <i class="fa fa-user" aria-hidden="true"></i>
                          Personal Details
                      </a>
                      
                  </li>

                  <li class="sub-menu">
                      <a href="../education_view/education_view" >
                         <i class="fa fa-book" aria-hidden="true"></i>
                          <span>Education Details</span>
                      </a>
                      
                  </li>
                  <li class="sub-menu">
                      <a href="../loan_view/loan_view" >
                          <i class="fa fa-money" aria-hidden="true"></i>
                          <span>Loan Details</span>
                      </a>
                     
                  </li>
                  <li class="sub-menu">
                      <a href="donors" >
                          <i class="fa fa-users" aria-hidden="true"></i>
                          <span>See Donors</span>
                      </a>
                     
                  </li>
                  <li class="sub-menu">
                      <a href="account" >
                          <i class="fa fa-key" aria-hidden="true"></i>
                          <span>Account Details</span>
                      </a>
                    
                  </li>
                    <li class="sub-menu">
                      <a href="/viewprofile" >
                          <i class="fa fa-key" aria-hidden="true"></i>
                          <span>My profile</span>
                      </a>
                    
                  </li>
                 

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
<section id="main-content">
          <section class="wrapper">
          <br>

           <form action="/loan" method="POST" role="form">
 
 <h2>Loan details</h2><br>

    <div class="form-group">
     
      <input type="text" class="form-control" id="loan_purpose_name" name="loan_purpose_name" placeholder="Enter your loan purpose">
    </div>
    <div class="form-group">
      
      <input type="text" class="form-control" id="loan_amount" name="loan_amount" placeholder="Enter your loan amount">
    </div>
    <div class="form-group ">
      
      <input type="text" class="form-control" id="loan_bankname" name="loan_bankname" placeholder="Enter your bank">
    </div>
   
 <div class="form-group ">
      <input type="text" class="form-control" id="loan_accountno" name="loan_accountno" placeholder="Enter your loan account number">
    </div>
    

    <div class="form-group ">
      <input type="text" class="form-control" id="remittance_account_bank_name" name="remittance_account_bank_name" placeholder="Enter your remittance account bank name">
    </div>

    <div class="form-group">
   
      <input type="text" class="form-control" id="remittance_account_bankaccount_no" name="remittance_account_bankaccount_no" placeholder="Enter your remittance account bank number">
    </div>

     <div class="form-group">
   
      <input type="text" class="form-control" id="remittance_account_ifsc" name="remittance_account_ifsc" placeholder="Enter remittance account IFSC code">
    </div>

    <div class="form-group">
   
      <input type="text" class="form-control" id="loan_details_note" name="loan_details_note" placeholder="Enter your loan details note">
    </div>
   

    
    <br>
    <input type="hidden" name="_csrf" value="<% _csrf%>" />
    <button type="submit" class="btn btn-default text-center">Submit</button>
    
  </form>
 <!--div class="panel panel-default">
    <div class="panel-body">
    <h1>Sandra Rayman</h1>
    <h3>Age <b>24</b></h3>
    <h4>Florida</h4>

    <h1 class="phead">About me</h1><br>I was just a simple guy, one of those you see everyday in the street … Nothing really special… I’ve done stupid things, nothing terrible though, and not more often thananyone else, a pretty normal guy in the end… (I haven’t led a gang or killedanybody, sorry!) My parents held a small drinks shop (coke, beer, wine…) and I sometimes worked there after school. I probably could have taken it over and had a settled life, as ordinary as it gets… But I was lacking something deeper, something that I could feel in my guts; something that would taste true …<hr>
     <h1 class="phead">Contact Details</h1><br>
     
     <div><h4>Contact Number: <b>9876543210</b></h4></div><br>
     <div><h4>Address: <b>Walnut Street, 204 7th block, Florida</b></h4></div><br>
     <div><h4>Email: <b>Sandra@gmail.com</b></h4></div><br>
     <div><h4>Occupation: <b>Student</b></h4></div><br>
     <br><br>
      <button data-toggle="tooltip" title="edit" class="btn-warning fa fa-edit"></button>
       
    </div>
  </div--></section>
  </section> 
                
                  <%- include ../stufoot.ejs %>
